<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link rel="stylesheets" href="testcontrol.css" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheets" href="bootstrap-dropdown-checkbox.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<link href='http://fonts.googleapis.com/css?family=Play&subset=cyrillic' rel='stylesheet' type='text/css'>
		<script src="/../assets/codemirror.js"></script>
		<script src="/../assets/matchbrackets.js"></script>
		<script src="/../assets/python.js"></script>
		<script src="/../assets/jquery.jstree.js"></script>
		<script src="/../assets/jstreegrid.js"></script>
		<script src="/../assets/jquery.hotkeys.js"></script>
		<script src="/../assets/js/bootstrap-dropdown-checkbox.min.js"></script>
		<script src="/../assets/testcontrol.js"></script>
	</head>
	<body>
		<div>
			<div style="text-align: center; background-color: lightgreen;">
				<h2>Система управления тестовыми задачами. v<span id="version"></span></h2>
				<div style="height:14px;"><div style="height:14px;" id="loaderScr"></div></div>
			</div>
			<div>
				<span class="picker">Выберите компьютер</span>
				<select id="comp" class="picker">
				</select>
				<span class="picker">Выберите стэнд</span>
				<select id="stand" class="picker">
				</select>
			</div>
			<div id="tabs">
				<ul>
					<li><a href="#testplan" id="testplanhref">Редактирование тестового плана</a></li>
					<li><a href="#pythonscript" id="pythonscripthref">Редактирование Python скрипта</a></li>
					<li><a href="#starttime" id="starttimehref">Редактирование времени запуска</a></li>
					<li><a href="#coverage" id="coveragehref">Покрытие тестовых планов</a></li>
				</ul>
				<div id="testplan">
					<table>
						<tr>
							<td>
								<div class="panel">
									<input type="button" value="Сохранить" id="saveMDS" /><br />
									<input type="button" value="Взять MDS из SVN" id="getMDSFromRepo" /><br />
									<input type="button" value="Взять MDS из backup" id="getMDSFromBackup" /><br />
									<input type="button" value="Сделать backup MDS" id="makeMDSBackup" />
								</div>
							</td>
							<td>
								<div class="panel">
									<span>Время работы:</span><input type="time" id="workingtime" />
                                    <div id="criticalparam"></div>
                                    <div id="periodicparam"></div>
									<input type="button" value="Применить к MDS" id="applyMDS" /><br />
								</div>
							</td>
							<td>
								<div class="panel">
									<select class="picker" id="nameMDS" />
										<option value=""></option>
									</select>
									<input type="button" value="Сохранить под именем" id="saveMDSWithName" /><br />
									<input type="button" value="Удалить выбранную MDS" id="deleteMDSByName" />
								</div>
							</td>
						</tr>
					<tr>
						<td>
							<input type="button" value="Выбрать выделенные ноды" id="v" />
							<input type="button" value="Отменить выбор выделенных нод" id="x" />
						</td>
					</tr>
					</table>
					<ul id="testsTree"></ul>
				</div>
				<div id="pythonscript">
					<input type="button" value="Сохранить" id="savePython" />
					<div class="backuppanel">
					  <input type="button" value="Взять Settings из SVN" id="getPythonFromRepo" /><br />
					  <input type="button" value="Взять Settings из backup" id="getPythonFromBackup" /><br />
					  <input type="button" value="Сделать backup" id="makePythonBackup" />
					</div>
					<textarea id="plainscript"></textarea>
				</div>
				<div id="starttime">
					<table id="tbtiming">
						<tr>
							<td><b>Название</b></td>
							<td><b>Старое время</b></td>
							<td><b>Новое время</b></td>
						</tr>
					</table>
					<input type="button" value="Сохранить" id="savetiming" />
				</div>
				<div id="coverage">
					<span class="picker">Выберите релиз</span>
					<select id="releasecoverage" class="picker">
					</select>
					<table id="covertable">
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
